.sidebars {
  position: fixed;
  top: 0;
  left: 0;
  width: 320px;
  height: 100%;
  background: white;
  z-index: 999;
  padding: 20px;
  box-shadow: 2px 0 8px rgba(0,0,0,0.15);
  overflow-y: auto;
  animation: slideIn 0.3s ease-out forwards;
}

@keyframes slideIn {
  from { transform: translateX(-100%); }
  to { transform: translateX(0); }
}

.sidebars-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-sections {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
  .logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
  }
  
  .logo-image {
    height: 55px;
    margin-right: 0.75rem;
    border-radius: 8px;
    transition: transform 0.3s ease, filter 0.3s ease;
  }
  
  .logo-image:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 6px #cde4ff) drop-shadow(0 0 12px #cde9ff); /* Glows brighter on hover */
  }
  
  .logo-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  
  .brand-name {
    margin-bottom: -9px;
    font-weight: bold;
    font-size: 1.1rem;
  }
  
  .slogan {
    font-size: 0.7rem;
    font-weight: 500;
    color: #000000;
  }

.close-btn {
  background: none;
  border: none;
  font-size: 26px;
  cursor: pointer;
}

.sidebars-links {
  list-style: none;
  padding: 20px 0;
  margin: 0;
  color: #0843a2;
}

.sidebars-links li {
  padding: 14px 0;
  border-bottom: 1px solid #eee;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.sidebars-links li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-decoration: none; /* Remove underline */
  color: inherit;
}

.arrow {
  font-size: 18px;
}

.sidebars-icons {
  background: #f9f9f9;
  padding: 20px;
  margin: 20px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.icon-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
  font-size: 16px;
}

.icon-row span {
  margin-left: 10px;
  flex: 1;
}

.item-count {
  color: grey;
  font-size: 12px;
}

/* auth-buttons */
.auth-buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 20px 0;
  border-top: 1px solid #ddd;
  margin-top: auto;
}

.auth-btn {
  background-color: transparent;
  color: #0843a2;
  border: 1px solid #ccc;
  padding: 10px 16px;
  margin: 5px 8px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all 0.3s ease;
}

.auth-btn.active {
  background-color: #0843a2;
  color: #fff;
  border-color: #000;
}
.auth-btn:hover {
  background-color: #0843a2;
  color: white;
}

.sidebars-links a,
.sidebars-icons a,
.auth-buttons a,
.logo-link {
  text-decoration: none;
  color: #0843a2;
}